.video-player-container {
    border: 1px solid transparent;
    border-radius: 10px;
    overflow: hidden;
    video {
        display: block;
        width: 100%;
        height: auto;
    }

    position: relative;
    .controls {
        margin: 0 14px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
}
