.video-player-container {
    --panel-appearance-delay: 3s;
    .border-wrapper {
        border: 1px solid transparent;
        border-radius: 10px;
        overflow: hidden;
    }

    video {
        display: block;
        width: 100%;
        height: auto;
    }

    position: relative;

    &:hover {
        .panel {
            visibility: visible;
            opacity: 1;
            transition:
                visibility 0s 0s,
                opacity 0.5s 0s;
        }
    }

    .panel {
        /*visibility: hidden;*/
        visibility: visible;
        /*opacity: 0;*/
        transition:
            visibility 0s var(--panel-appearance-delay),
            opacity 0.5s var(--panel-appearance-delay);
        margin: 0 14px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
}
